
<div class="row">
    <div class="col-2">
        <select id="drpEmployeeList"  class="form-control" onchange="onFilterEmployeeChange()">
            <option selected>All</option>
        </select>
    </div>
</div>

<div class="row">
   <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Employee Id</th>
              <th scope="col">Full Name</th>
              <th scope="col">Total Number Work Hours</th>
            </tr>
          </thead>
          <tbody id="tblEmployeeShifts" >
          </tbody>
        </table>
   </div> 
</div>

